@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply font-poppins;
}
.custom-font-size-one{
    @apply font-normal text-[13px];
}
.custom-font-size-two{
    @apply font-medium xl:text-[13px] text-[10px];
}

.custom-icon-size-one{
    @apply text-[12px];
}
.custom-btn-one{
    @apply px-5 py-2 rounded-[5px];
}
/***nav****/

header.light {
  @apply bg-pearl-white;
}

/* Navigation Styles */
nav {
  @apply relative;
}

header.light nav {
  @apply bg-black;
}

ul.main-nav {
  @apply max-w-[1000px] mx-auto;
}

ul.main-nav > li {
  @apply inline-block;
}

ul.main-nav > li > a {
  @apply 2xl:pb-[47px] pb-[10px] xl:pb-[25px] px-[20px] 2xl:px-[30px] 2xl:text-[18px] text-[16px] relative block font-normal;
}

.nav-underline-after::after, .nav-underline-after-v-two::after{
  @apply absolute left-0 h-[2px] -bottom-[5px] w-[50%] bg-secondary;
  content: "";
}
.nav-underline-after-v-two::after{
  @apply  lg:-bottom-[36px] xl:-bottom-[50px] -bottom-[10px] w-full;

}
ul.main-nav > li:hover > a {
  @apply text-[#333] font-normal;
}

ul.main-nav > li ul.sub-menu-lists {
  @apply flex flex-col xl:gap-y-[13px] gap-y-[10px];

}
ul.main-nav > li ul.sub-menu-lists.sub-menu-lists-two {
  @apply flex flex-col lg:flex-row lg:gap-x-10 xl:gap-y-[13px] gap-y-[10px] text-[14px] xl:text-[16px] text-pearl-white lg:text-pure-gray;

}
ul.main-nav > li ul.sub-menu-lists > li > a {
  @apply xl:text-[16px] text-[14px];
}

.ic {
  @apply absolute cursor-pointer inline-block right-[25px] w-[32px] h-[24px] text-center top-0;
}

.ic.close {
  @apply -top-[45px] text-secondary block opacity-0;
}

/* Menu Icons for Devices*/
.ic.menu {
  @apply -top-[45px] z-20;
}

.ic.menu .line {
  @apply h-[3px] w-full block mb-[6px];
}
.ic.menu .line-last-child {
  @apply mb-0;
}


@media only screen and (max-width: 768px) {
  .sub-menu-head {
    @apply text-quaternary;
  }
  .ic.menu {
    @apply block;
  }
  header.dark .ic.menu .line {
    @apply bg-secondary;

  }

  .ic.menu .line {
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
  }


  .ic.menu:focus .line:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .ic.menu:focus .line:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: -10px;
  }

  .ic.menu:focus .line:nth-child(3) {
    transform: translateY(15px);
    opacity: 0;
  }


  .ic.menu:focus ~ .ic.close {
    @apply opacity-[1] z-30;
  }

  .ic.menu:focus {
    @apply opacity-[1];
  }

  /* Main Menu for Handheld Devices  */
  ul.main-nav {
    @apply z-10 md:py-[50px] py-[30px] fixed top-0 left-0 w-0 h-full bg-black overflow-y-auto;

    /*CSS animation applied : Slide from Right*/
    -webkit-transition-property: background, width;
    -moz-transition-property: background, width;
    -o-transition-property: background, width;
    transition-property: background, width;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }

  .ic.menu:focus ~ .main-nav {
    @apply w-full;
  }

  ul.main-nav > * {
    @apply transition-opacity duration-500 opacity-0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
  }
  .ic.menu:focus ~ .main-nav > * {
    @apply opacity-[1];
  }
  ul.main-nav > li {
    @apply block;
  }

  ul.main-nav > li > a {
   @apply font-semibold md:font-normal;
  }

  ul.main-nav > li ul.sub-menu-lists > li a {
    @apply text-[14px] text-[#eee];
  }
  .sub-menu-head {
    @apply text-[16px];
  }

  ul.main-nav > li:hover > a {
    @apply text-pearl-white font-semibold;
  }
  .ic.menu:focus ~ ul.main-nav > li > div.sub-menu-block {
@apply relative visible opacity-[1];

  }

  .sub-menu-block {
    @apply px-[30px];
  }
}

@media only screen and (min-width: 769px) {
  .ic.menu {
    @apply hidden;
  }
  /* Main Menu for Desktop Devices  */
  ul.main-nav {
    @apply block relative;
  }
  .sub-menu-block {
    @apply 2xl:px-[49px] px-[35px] py-[20px] xl:py-[30px];

  }
.sub-menu-block-three{
  @apply xl:py-[40px];
}
  /* Sub Menu */
  ul.main-nav > li > div.sub-menu-block,
  ul.main-nav > li > div.sub-menu-block-two{
    @apply invisible bg-[#f9f9f9] absolute w-full left-0 z-10 opacity-0 transition-all duration-500 ease-in;

    /*CSS animation applied for sub menu : Slide from Top */
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
  }
  ul.main-nav > li > div.sub-menu-block-two{
    @apply max-w-[30%] left-auto;
  }
  ul.main-nav > li:hover > div.sub-menu-block {
@apply bg-[#f9f9f9] visible opacity-[1] rounded-b-[5px];
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }

  ul.main-nav > li > div.sub-menu-block > * {
    @apply opacity-0 transition-opacity duration-500;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
  }

  ul.main-nav > li:hover > div.sub-menu-block > * {
    @apply opacity-[1];
  }

  .sub-menu-head {
    @apply xl:text-[20px] text-[16px];
  }

  /* Drop Down/Up Arrow for Mega Menu */
  ul.main-nav > li > a.mega-menu > span {
    @apply block align-middle;
  }
}

/***nav****/

.nav-icon-color{
    @apply text-secondary hover:text-quaternary transition-all duration-300 cursor-pointer
}
.skill-bar.without-skill-bar::after,
.skill-bar.without-skill-bar::before{
  @apply w-0 h-0;
}

.item::before {
  @apply bg-black text-pearl-white absolute top-0 w-max text-[12px] p-[4px] rounded-[4px] left-1/2 opacity-0 pointer-events-none transform translate-x-[-50%] translate-y-[200%] scale-[0.8] transition-all duration-300 ease-in;
  content: attr(data-name);
}

.item:hover::before {
  @apply left-[25px] opacity-[1] transform translate-x-[-50%] translate-y-[220%];
}

.animated {
  -webkit-animation-duration:3s !important;
  animation-duration: 3s !important;
}

.skill {
  @apply  mb-4 relative ;
}
.skill-bar::before {
  @apply bg-secondary w-[25px] h-[25px] absolute right-[7px] top-[-5px] rounded-[50%];
  content: "";
}
.skill-bar::after {
  @apply w-[10px] h-[10px] absolute bg-pearl-white right-[14px] top-[2px] rounded-[50%] flex justify-center items-center;
  content: "";
}
.skill-bar div{
  @apply absolute xl:-top-[35px] -top-[28px];

}
.skill1 .skill-count1,
.skill2 .skill-count2,
.skill3 .skill-count3,
.skill4 .skill-count4,
.skill5 .skill-count5,
.skill6 .skill-count6
 {
  @apply right-[-5px];
}
/* SKILL 2 */
.skill2{
  @apply w-[85%];
}

/* SKILL 3 */
.skill3{
  @apply w-[75%];
}

/* SKILL 4 */
.skill4{
  @apply w-[65%];

}

/* SKILL 5 */
.skill5{
  @apply w-[94%];
}

/* SKILL 6 */
.skill6{
  @apply w-[90%];
}
.testimonial__card {
  @apply relative inline-flex justify-center text-center;

}
/**testimonial-css***/

.nav-diamond svg.icon {
  @apply fill-pearl-white relative stroke-white top-1/2;
	stroke-width: 2;
}
.nav-diamond div,.nav-diamond-two div {
  @apply overflow-hidden w-[65px] h-[65px] bg-white rounded-[50px] transition-all duration-300;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.3s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.nav-diamond-two div{
  @apply bg-[#FBFBFB]
}
.nav-diamond-two .btn__next div{
  @apply bg-quaternary
}

.nav-diamond img {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 opacity-0 transition-all duration-300;
  transition: opacity 0.3s, transform 0.3s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
}
.nav-diamond a:hover img {
  @apply opacity-[0.8];

}

.nav-diamond a.prev:hover img {
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(0) scale(1);
	transform: translateX(-50%) translateY(-50%) rotate(0) scale(1);
}

.nav-diamond a.next:hover img {
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(0) scale(1);
	transform: translateX(-50%) translateY(-50%) rotate(0) scale(1);
}

.svg-hover-color {
	&:hover path {
    @apply fill-secondary transition-all duration-300;

	}
}
.element {
  @apply w-full h-1 bg-top bg-[length:5px_1px] bg-repeat-x;
  background-image: linear-gradient(to right, #9ca3af00 50%, #ffffff3b 15%);
}

/***text-underline**/

.text-underline{
  @apply relative z-[1];
}
.text-underline::after {
  @apply absolute w-full h-[1px] bottom-[6px] left-0 bg-quaternary z-[-1];
  content: "";
}


/*****/
hr {
  @apply h-[2px] ml-[15px] mb-[-3px];
}

.hr-primary::after{
  @apply absolute w-[75%] md:w-[20%] 2xl:w-[10%] h-[2px];
content: "";
  background-image: -webkit-linear-gradient(left, #006E5B
  , #006E5B
  , rgba(0,0,0,0));
}

/****portfolio****/
.portfolio-menu ul li {
  @apply inline-block lg:pr-[50px] pr-[30px] cursor-pointer transition-all duration-200 ease-in;
}
.portfolio-menu ul li:last-child {
  @apply inline-block pr-0 ;
}
.portfolio-item .item {
  @apply lg:w-[33%] md:w-[49%] w-full static inline-block lg:mb-[60px] mb-8 h-auto px-[10px];
}

.portfolio-item .item::before{
  @apply w-0 h-0 contents
}
/******/



.navbar-container ul li.active-link.underline-donation::after {
  @apply w-[25%] bg-black hover:bg-secondary mt-[5px] absolute h-[2px] left-0 md:-bottom-[15px] -bottom-0;
  content: "";
}
.navbar-container ul li.active-link.underline-donation:hover::after {
  @apply  bg-secondary ;
  content: "";
}
/****accordiance****/
.accordion-header {
@apply p-[1em] mt-[2px] flex justify-between items-center cursor-pointer;
}

.accordion-header h2{
  @apply text-[25px] font-semibold;
}
.accordion-header h2:hover{
  @apply text-secondary duration-300 transition-colors;
}
.accordion-body p{
  @apply text-[18px];
}
.accordion-header{
  @apply relative z-0;
}
.accordion-header::after{
  @apply  w-[30px] h-[30px] absolute top-[20px] right-[8px] bg-black rounded-full ;
  content: "";
}
.accordion-header.is-active:after{
  @apply bg-secondary ;
}
.accordion-toggle {
  @apply z-[9999] ml-[10px] h-[2px] bg-pearl-white w-[13px] block relative shrink-[1] rounded-[2px] ;
}

.accordion-toggle::before {
@apply w-[2px] h-[13px] block bg-pearl-white absolute z-[9999] top-[-5.5px] left-[5.5px] rounded-[2px];
	content: "";
}
.is-active .accordion-toggle {
@apply bg-pearl-white ;
}
.is-active .accordion-toggle::before {
  @apply ease-in hidden;
}


.accordion-body {
@apply hidden p-[1em] border-t-[0];
}
.accordion-each:first-of-type .accordion-body  {
@apply block;
}
.about-counter span{
  @apply text-[45px] font-semibold ml-[-5px];
}
.about-counter p{
  @apply text-[18px] ;
}

/****table****/
.container-max {
  @apply xl:max-w-[1100px] max-w-[1000px] max-h-[340px] overflow-auto md:overflow-x-hidden overflow-y-auto mx-auto;
}
.tableContainer {
  @apply text-black mr-[12px];
}
.tableRow {
  @apply xl:text-[16px] lg:text-[14px] text-[13px]
  lg:grid-cols-[270px_300px_222px_172px_minmax(900px,_1fr)_100px]
  grid-cols-[215px_225px_150px_172px_minmax(900px,_1fr)_100px]
  xl:grid-cols-[288px_371px_235px_172px_minmax(900px,_1fr)_100px] md:grid mb-[10px] border border-solid border-[#006e5b1c];
}
.tableCol {
  @apply py-[10px] px-[14px] lg:px-[49px] flex gap-x-[20px] items-center bg-pearl-white;
}
/***scroll-bar***/

.container-max::-webkit-scrollbar{
  @apply w-[17px] bg-[#E6E6E6];
}
.container-max::-webkit-scrollbar-thumb{
  @apply w-[17px] bg-secondary;
}

/**map**/
div#map {
  @apply overflow-hidden !important;
}
.gm-style-moc {
 @apply hidden;
}

.gm-ui-hover-effect {
  @apply hidden !important;
}
.gm-style .gm-style-iw + div {
  @apply hidden opacity-0 invisible;
}


.gm-style-iw div{
  @apply text-[18px] font-medium;
}

.gm-style iframe + div {
  @apply border-none !important;
   }
   .gmnoprint a, .gmnoprint span, .gm-style-cc {
    @apply hidden !important;
}
/**donation=popup****/
/*form styles*/
.progressbar {

  @apply xl:w-[32%] w-[25%]  lg:w-[15%] relative flex justify-between h-[35px];
}
.progress-step{
  @apply 2xl:w-[70px] w-[45px] h-[45px] 2xl:h-[70px] border-[1px] border-solid border-[#B5B5B5] rounded-[50%] flex justify-center items-center z-[999] text-[#B5B5B5] text-[16px] 2xl:text-[25px] relative;

}

.progress-step::after {
  @apply absolute text-black md:w-[180px] w-[100px] text-[11px] md:text-[20px] text-center mt-[5px];
  content: attr(data-title);
  top: calc(100% + 0.5rem);
}
.progressbar::before {
  @apply absolute 2xl:top-full top-[56%] lg:top-[60%] xl:top-[66%] h-[1px] w-[80%] 2xl:w-[82%] bg-[#B5B5B5] left-1/2;
  content: "";
  transform: translate(-50%, -50%);
}
.progressbar::after {
  @apply  xl:right-[15px] right-[6px] absolute h-[6px] w-[6px] rotate-[-45deg] border-solid border-[#B5B5B5] 2xl:top-[32px] lg:top-[18px] top-[17px]  xl:top-[20px];
  content: "";
  border-width: 0px 1px 1px 0px;
}

.progress-step.active{
  @apply bg-secondary text-pearl-white border-none;
}
.btn{
  @apply px-9 py-3 mt-5 md:mt-[30px] inline-block text-pearl-white bg-secondary;
}
.form-step{
  @apply hidden 2xl:mt-[90px] xl:mt-[75px] mt-[60px];
}
.form-step.active{
  @apply block;
}
.btn:active{
  @apply transform scale-[.98];
}
.form input{
  @apply border border-solid border-[#E4E4E4];
}
.form input::placeholder{
  @apply text-[#8D8D8D] text-[16px] font-normal;
}

/****radio****/
/* label container */
.radio-button-container {
  @apply block relative pl-[35px] leading-[25px] mb-[30px] ml-[30px] cursor-pointer 2xl:text-[18px] text-[16px] select-none;
  color: rgba(0,0,0,0.75);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

}

/* Hide the browser's default radio button */
.radio-button-container input {
  @apply absolute opacity-0 cursor-pointer;
}

/* Create a custom radio button */
.checkmark {
  @apply absolute top-[5px] left-0 h-[17px] w-[17px] rounded-[50%] transition-all duration-300;
  background-color: rgba(0,0,0,0);
  border: 1px solid rgba(0,0,0,0.25);
}

/* On mouse-over, add a grey background color */
.radio-button-container:hover input ~ .checkmark {
  border-color: rgba(0,0,0,0.5);
}

/* When the radio button is checked */
.radio-button-container input:checked ~ .checkmark {
  @apply border-secondary;
  background-color: rgba(0,0,0,0);
}


/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  @apply absolute hidden;
  content: "";
}

/* Show the indicator (dot/circle) when checked */
.radio-button-container input:checked ~ .checkmark:after {
  @apply block;
}

/* Style the indicator (dot/circle) */
.radio-button-container .checkmark:after {
  @apply top-1/2 left-1/2 w-[9px] h-[9px] rounded-[50%] bg-secondary;
  transform: translate(-50%, -50%);
}
/****click-button*****/

.form input[type="radio"] {
  @apply hidden;
}

.form .stages label {
@apply bg-[#F3F3F3] text-[#A3A3A3] cursor-pointer inline-block relative text-center py-[10px] px-[40px] z-[1] select-none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

#one:checked ~ .stages label[for="one"],
#two:checked ~ .stages label[for="two"],
#three:checked ~ .stages label[for="three"],
#four:checked ~ .stages label[for="four"]
{
  @apply bg-secondary text-pearl-white;
}
/*******/

.cl-custom-check {
  @apply hidden;

	+ .cl-custom-check-label {
    @apply md:w-[135px] 2xl:w-[155px] w-full font-normal bg-[#F3F3F3] text-[#A3A3A3] text-center h-[55px] cursor-pointer rounded-[5px] inline-flex justify-center items-center select-none text-[25px] transition-all duration-500 ease-in;
		margin: 0 10px 10px 0;
		backface-visibility: hidden;
	}

	&:checked {
		+ .cl-custom-check-label {
@apply bg-secondary text-pearl-white;
			backface-visibility: hidden;
		}
	}
}

/***search-input****/
.search-wrapper .search-input{
  @apply bg-pearl-white w-full rounded-[5px] relative top-[50px];
  box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}

.search-wrapper .search-input.new-search-input input{
border-radius: 0;
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: none !important;
}
.search-wrapper .search-input input {
  @apply h-[65px] w-full outline-none border-none rounded-[8px] text-[18px];
  padding: 0 60px 0 45px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.search-wrapper .search-input .icon {
  @apply absolute left-0 top-[6px] w-[50px] text-center leading-[55px] text-[13px] text-[#9A9A9A] cursor-pointer;
}
/****sighin*****/
.sign-in:after,
.sign-in:before{
  @apply  absolute w-[25%] md:w-[35%] lg:w-[125px] h-[1px] bg-[#ACACAC] top-[50%];
  content: ""
}
.sign-in:after {
  @apply  right-0;
}
.sign-in:before {
  @apply left-0 ;
}

.form-control {
  @apply mb-[10px] pb-[12px] xl:pb-[21px] relative;
}

.form-control label {
  @apply inline-block mb-[8px];
}

.form-control input {
  @apply border-[1px] border-solid border-[#9C9C9C] rounded-[4px] block text-[13px] 2xl:text-[15px] font-normal py-[15px] px-[30px] w-full bg-transparent;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input {
  @apply border-[#2ecc71];
}

.form-control.error input {
  @apply border-[#e74c3c];
}

.form-control i {
  @apply absolute top-[50px] right-[10px];
	visibility: hidden;
}

.form-control.success i.fa-check-circle {
  @apply text-[#2ecc71] visible;
}

.form-control.error i.fa-exclamation-circle {
  @apply text-[#e74c3c] visible;
}

.form-control small {
  @apply text-[#e74c3c] absolute bottom-0 left-0;
	visibility: hidden;
}

.form-control.error small {
  @apply visible;
}

/*****cheakbox****/
.round {
  @apply relative;
}

.round label {
  @apply bg-pearl-white border border-solid border-[#ccc] rounded-[50%] h-[18px] left-0 absolute top-0 w-[18px] cursor-pointer;
}

.round label:after {
  @apply border-[2px] border-solid border-pearl-white  h-[6px] left-[4px] opacity-0 absolute top-[4px] transform rotate-[-45deg] w-[9px];
  border-top: none;
  border-right: none;
  content: "";
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  @apply bg-secondary border-secondary;
}

.round input[type="checkbox"]:checked + label:after {
  @apply opacity-[1];
}

/**password***/
#message{
  @apply absolute -bottom-[5px] hidden;
}
/***signup-in -slider****/

.swiper-container {
  @apply w-full;
}

.swiper-container .swiper-pagination-bullet {
  @apply bg-pearl-white opacity-[9];
}
.swiper-container .swiper-pagination-bullet-active {
  @apply bg-secondary;
}
/***shop***/
.color-groups{
  @apply flex gap-[10px];
}
.color-groups-two{
  @apply flex gap-[10px] lg:flex-col flex-row;
}
.color{
  @apply w-[16px] h-[16px] bg-[#ECECEC] rounded-[50px] cursor-pointer;
}
.color-green, .color[data-color="green"]{
  @apply bg-secondary;
}

.color-blue, .color[data-color="blue"]{
  @apply bg-[#1068D0];
}
.color-yellow, .color[data-color="yellow"]{
  @apply bg-quaternary;
}

.banner-content article h3{
  @apply xl:text-[25px] text-[20px] font-semibold;
}
button .svg-hover-color-two {
	&:hover path {
    @apply fill-quaternary transition-all duration-300;

	}
}

/**color select-dox***/
.dropdown-el {
  @apply absolute inline-block min-h-[2em] max-h-[2em] overflow-hidden cursor-pointer whitespace-nowrap outline-none border-[0.06em] border-solid border-transparent rounded-[5px];
  border: 1px solid #D3D3D3;
  transition: 0.3s all ease-in-out;
}

.dropdown-el input {
  @apply w-[1px] h-[1px] inline-block absolute ;
}

.dropdown-el label {
  @apply block h-[2em] leading-[2em] pl-[1em] pr-[3em] relative cursor-pointer;
}
.dropdown-el label:nth-child(2) {
  @apply mt-[2em];

}
.dropdown-el input:checked + label {
  @apply block border-t-0 absolute top-0 w-full;
}
.dropdown-el input:checked + label:nth-child(2) {
  @apply mt-0 relative;
}
.dropdown-el::after {
  @apply absolute right-[0.8em] top-[0.8em] border-[4px] border-t-black border-b-transparent border-l-transparent border-r-transparent transition-all duration-300 ease-in;
  content: "";
}
.dropdown-el.expanded {
  @apply bg-pearl-white max-h-[15em] shadow-xl;
}
.dropdown-el.expanded label {
  @apply border-t-[0.06em] border-solid border-[#d9d9d9];
}

.dropdown-el.expanded::after {
  @apply transform rotate-[-180deg] top-[0.55em];
}

/***size***/
.dropdown {
  @apply cursor-pointer flex items-center h-[30px] pl-[18px] pr-[30px] relative text-left select-none transition-all duration-200 ease-out whitespace-nowrap;

  &:after {
    @apply h-[0] w-[0] border-l-[4px] border-solid border-transparent border-r-[4px] border-t-[4px] border-t-black transition-all duration-300 ease-in block mt-[-2px] pointer-events-none  absolute right-[16px] top-[50%];
    content: "";
  }
  &.open {

    &:after {
      @apply transform rotate-[-180deg];
    }
    .list {
      @apply transform scale-100 opacity-[1] pointer-events-auto;
    }
    .option {
      @apply cursor-pointer
    }
  }
  &.wide {
    @apply w-full;

  }
  .list {
@apply shadow-xl bg-pearl-white mt-[4px] px-[3px] opacity-0 overflow-hidden pointer-events-none absolute top-full z-[999] left-0;
  }
  .option {
    @apply cursor-default pb-2 pl-[18px] pr-[29px] text-left transition-all duration-200;
  }
}
.dropdown-three{
  @apply w-[90px];
}

/***payment-redio**/
.light label {
  @apply flex  items-center flex-nowrap cursor-pointer relative;
  justify-content: flex-start;
  margin: 25px 0;
}


/* input */
.light input {
  @apply opacity-0 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-[-1];
}


/* .design */
.design {
  @apply w-[16px] h-[16px] border-[1px] border-solid border-secondary rounded-full md:mr-[16px] relative;
}

.design::before {
@apply block absolute transform scale-0 -top-[6%] -left-[6%] w-[inherit] h-[inherit] rounded-[inherit];
  content: "";
}

.design:before {
  @apply bg-secondary opacity-0 transition-all duration-300;
}

/* checked state */
.light input:checked+.design::before {
  @apply opacity-[1] transform scale-[.6];
}

/***input-right***/
.swatch-color:after {
  @apply border-[1.5px] border-solid border-secondary border-t-0 border-r-0 h-[5px] left-[4px] opacity-0 absolute top-[5px] transform rotate-[-45deg] w-[10px] transition-all duration-300 ease-in;
  content: ""
}

.swatch-color{
  @apply w-[18px] h-[18px];
}

input:checked +  .swatch-color:after {
  @apply opacity-[1];
}
.color-two{
  @apply w-[165px] h-auto bg-transparent;
}

/****tooltip****/

.tooltip-bottom{
  @apply relative outline-none;
}

.tooltip-bottom:before {
  @apply px-[12px] py-[6px] text-black rounded-[5px] border border-solid border-gray-300 whitespace-pre text-center text-[12px];
  content: attr(data-tooltip);
}

.tooltip-bottom:after {
  @apply w-[10px] h-[10px] border-[1px] border-solid border-transparent border-l-gray-300 border-b-gray-300 z-[999];
  content: "";
}
.tooltip-bottom:before,
.tooltip-bottom:after {
  @apply absolute cursor-default opacity-0 bg-white pointer-events-none transition-all duration-300 ease-linear;
}

.tooltip-bottom:hover:before,
.tooltip-bottom:hover:after{
  @apply opacity-[1] ;

}

.tooltip-bottom:before {
  top: calc(100% + 8px + 4px);
  transform: translateX(-50%);
}
.tooltip-bottom:after {
  top: calc(100% + 3px + 4px);
  transform: translateX(-50%) rotate(-225deg);
}

.btn-warning{
  @apply ml-[-15px] transition-all duration-300 ease-in ;
}
.btn-warning:hover{
  @apply transform scale-[1.1];
}

.modal__inner_two{
  @apply absolute top-[5%] right-0 bottom-0 left-0 w-[95%] lg:w-[80%] mx-auto h-full rounded-[5px] px-[1em] py-[2em];

}

.radio-button-container-two{
  @apply mb-[15px] 2xl:mb-[25px];
}
.cl-custom-check-label-two{
  @apply h-[45px] 2xl:h-[60px] text-[18px] 2xl:text-[25px] !important;
}
.progress-step-two{
  @apply 2xl:text-[20px] lg:text-[16px] text-[14px] 2xl:w-[60px] w-[35px] h-[35px] xl:w-[45px] xl:h-[45px] 2xl:h-[60px] !important;
}
.progress-step-two::after{
  @apply 2xl:text-[18px] text-[12px] lg:text-[16px] !important;
}
.search-modal .modal__close_two{
 @apply right-0 top-[50px] md:top-0 !important;
}


.modal-container {
  @apply bottom-0 left-0 opacity-0 pointer-events-none fixed right-0 top-0 z-[999] invisible transition-all duration-300;
  background-color: rgba(0, 0, 0, 0.9);
}
.modal-container:target {
  @apply opacity-[1] pointer-events-auto visible;
}
.modal-container .modal-inner {
  @apply  xl:w-[60%] 2xl:w-[52%] lg:w-[70%] w-[95%] left-1/2 relative top-1/2;
  transform: translate(-50%, -50%);
}
.search-wrapper form{
@apply 2xl:py-[70px] py-[30px];;
}
.modal-close {
  @apply  flex text-[16px] justify-end mb-[10px] absolute right-0 lg:right-[-27px] xl:-top-[30px] top-[-35px];
}
.modal-close.modal-colse-two{
  @apply  flex text-[16px] justify-end mb-[10px] absolute right-0 lg:right-[-200px] xl:-top-[226px] top-[-35px];
}
.arow-after::after{
  @apply absolute lg:top-[17px] top-[15px] right-[10px] transition-all duration-300;
  content:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px'    fill='gold'><path d='M12.3536 4.35355C12.5488 4.15829 12.5488 3.84171 12.3536 3.64645L9.17157 0.464467C8.97631 0.269205 8.65973 0.269205 8.46447 0.464467C8.2692 0.659729 8.2692 0.976311 8.46447 1.17157L11.2929 4L8.46447 6.82843C8.2692 7.02369 8.2692 7.34027 8.46447 7.53553C8.65973 7.7308 8.97631 7.7308 9.17157 7.53553L12.3536 4.35355ZM-4.37114e-08 4.5L12 4.5L12 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z'/></svg>");

}
.arow-after:hover::after{
  @apply absolute right-[5px] transition-all duration-300;
  content:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px'    fill='gold'><path d='M12.3536 4.35355C12.5488 4.15829 12.5488 3.84171 12.3536 3.64645L9.17157 0.464467C8.97631 0.269205 8.65973 0.269205 8.46447 0.464467C8.2692 0.659729 8.2692 0.976311 8.46447 1.17157L11.2929 4L8.46447 6.82843C8.2692 7.02369 8.2692 7.34027 8.46447 7.53553C8.65973 7.7308 8.97631 7.7308 9.17157 7.53553L12.3536 4.35355ZM-4.37114e-08 4.5L12 4.5L12 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z'/></svg>");
}
.arow-after.arow-after-discover:hover:after{
  @apply right-[12px];
}
.arow-after.arow-after-discover::after{
  @apply right-[18px] lg:top-[19px] top-[18px];
}
.arow-after.arow-after-event:after{
  @apply right-[23px] top-[26px];
}
.arow-after.arow-after-event:hover:after{
  @apply right-[18px];
}
.arow-after-three.arow-after-regis:after{
  @apply right-[10px] md:top-[16px] lg:top-[18px];
}
.arow-after.arow-after-team::after{
  @apply  top-[27px];
}
.arow-after.arow-after-upcoming-one:after{
  @apply absolute transition-all duration-500 ;
  content:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' fill='gold'><path d='M17.5303 6.53033C17.8232 6.23744 17.8232 5.76256 17.5303 5.46967L12.7574 0.696699C12.4645 0.403806 11.9896 0.403806 11.6967 0.696699C11.4038 0.989593 11.4038 1.46447 11.6967 1.75736L15.9393 6L11.6967 10.2426C11.4038 10.5355 11.4038 11.0104 11.6967 11.3033C11.9896 11.5962 12.4645 11.5962 12.7574 11.3033L17.5303 6.53033ZM17 5.25L0 5.25V6.75L17 6.75V5.25Z'/></svg>");
}
.arow-after.arow-after-upcoming-one.arow-after-upcoming-two::after{
  @apply absolute transition-all duration-300 ;
  content:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' fill='green'><path d='M17.5303 6.53033C17.8232 6.23744 17.8232 5.76256 17.5303 5.46967L12.7574 0.696699C12.4645 0.403806 11.9896 0.403806 11.6967 0.696699C11.4038 0.989593 11.4038 1.46447 11.6967 1.75736L15.9393 6L11.6967 10.2426C11.4038 10.5355 11.4038 11.0104 11.6967 11.3033C11.9896 11.5962 12.4645 11.5962 12.7574 11.3033L17.5303 6.53033ZM17 5.25L0 5.25V6.75L17 6.75V5.25Z'/></svg>");
}
.arow-after.arow-after-upcoming-one.arow-after-upcoming-two:hover::after{
  @apply absolute transition-all duration-500 ;
  content:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' fill='gold'><path d='M17.5303 6.53033C17.8232 6.23744 17.8232 5.76256 17.5303 5.46967L12.7574 0.696699C12.4645 0.403806 11.9896 0.403806 11.6967 0.696699C11.4038 0.989593 11.4038 1.46447 11.6967 1.75736L15.9393 6L11.6967 10.2426C11.4038 10.5355 11.4038 11.0104 11.6967 11.3033C11.9896 11.5962 12.4645 11.5962 12.7574 11.3033L17.5303 6.53033ZM17 5.25L0 5.25V6.75L17 6.75V5.25Z'/></svg>");
}
.arow-after.arow-after-upcoming-one:hover::after{
  @apply absolute right-[5px] transition-all duration-300 ;
  content:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' fill='green'><path d='M17.5303 6.53033C17.8232 6.23744 17.8232 5.76256 17.5303 5.46967L12.7574 0.696699C12.4645 0.403806 11.9896 0.403806 11.6967 0.696699C11.4038 0.989593 11.4038 1.46447 11.6967 1.75736L15.9393 6L11.6967 10.2426C11.4038 10.5355 11.4038 11.0104 11.6967 11.3033C11.9896 11.5962 12.4645 11.5962 12.7574 11.3033L17.5303 6.53033ZM17 5.25L0 5.25V6.75L17 6.75V5.25Z'/></svg>");
}
.arow-after.arow-after-upcoming-one.arow-after-upcoming-two::after{
  @apply  left-[200px];
}
.arow-after.arow-after-upcoming-one::after{
  @apply  md:top-[35px] top-[30px] md:left-[265px] left-[230px];
}
.arow-after-three.arow-after-regis:hover:after{
  @apply right-[6px];
}
.arow-after-three::after{
  @apply absolute transition-all duration-300 right-[20px] top-[16px] md:top-[20px];
  content:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' fill='green'><path d='M12.3536 4.35355C12.5488 4.15829 12.5488 3.84171 12.3536 3.64645L9.17157 0.464467C8.97631 0.269205 8.65973 0.269205 8.46447 0.464467C8.2692 0.659729 8.2692 0.976311 8.46447 1.17157L11.2929 4L8.46447 6.82843C8.2692 7.02369 8.2692 7.34027 8.46447 7.53553C8.65973 7.7308 8.97631 7.7308 9.17157 7.53553L12.3536 4.35355ZM-4.37114e-08 4.5L12 4.5L12 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z'/></svg>");
}
.arow-after-three.arow-after-last::after{
  @apply top-[27px] right-[25px];
}
.arow-after-three.arow-after-regis-two::after{
  @apply right-[5px] md:top-[22px] top-[20px];
}
.arow-after-three.arow-after-regis-two:hover:after{
  @apply right-[0px];
}
.arow-after-three.arow-after-last:hover::after{
  @apply  right-[22px];
}
.arow-after-three:hover::after{
  @apply absolute right-[14px] transition-all duration-300;
  content:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' fill='green'><path d='M12.3536 4.35355C12.5488 4.15829 12.5488 3.84171 12.3536 3.64645L9.17157 0.464467C8.97631 0.269205 8.65973 0.269205 8.46447 0.464467C8.2692 0.659729 8.2692 0.976311 8.46447 1.17157L11.2929 4L8.46447 6.82843C8.2692 7.02369 8.2692 7.34027 8.46447 7.53553C8.65973 7.7308 8.97631 7.7308 9.17157 7.53553L12.3536 4.35355ZM-4.37114e-08 4.5L12 4.5L12 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z'/></svg>");
}
.arow-after-two::after{
  @apply absolute top-[22px] left-[38px] transition-colors duration-300;
  content:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px'    fill='gold'><path d='M16.5632 8.90667L12.8418 11.5556H7.84792V10.6667H11.9079C11.9983 10.6666 12.0869 10.6448 12.1644 10.6035C12.2418 10.5621 12.3053 10.5029 12.3479 10.432C12.3906 10.3611 12.4108 10.2813 12.4065 10.201C12.4022 10.1207 12.3735 10.0429 12.3234 9.976L11.4365 8.792C11.2546 8.54828 11.0077 8.34841 10.7179 8.21022C10.4281 8.07203 10.1043 7.99981 9.77555 8H1.85531C1.59042 8 1.33638 8.09365 1.14907 8.26035C0.961764 8.42705 0.856537 8.65314 0.856537 8.88889V14.2222C0.856537 14.6937 1.06699 15.1459 1.4416 15.4793C1.81621 15.8127 2.3243 16 2.85408 16H12.4812C12.9083 16.0001 13.3305 15.9189 13.7194 15.7619C14.1084 15.6049 14.4551 15.3758 14.7364 15.0898L20.8319 8.88889L19.3817 8.45867C18.9072 8.31791 18.4007 8.28517 17.9084 8.36342C17.416 8.44168 16.9536 8.62845 16.5632 8.90667ZM18.0933 3.90222C18.5437 3.48889 18.8224 2.91733 18.8224 2.28622C18.8224 1.65511 18.5437 1.08356 18.0933 0.670222C17.8655 0.458647 17.592 0.290219 17.2893 0.175047C16.9865 0.0598751 16.6607 0.000334788 16.3315 5.72559e-08C16.3315 5.72559e-08 15.089 -0.00266675 13.8405 1.14311C12.5921 -0.00266675 11.3496 5.72559e-08 11.3496 5.72559e-08C11.0205 0.000372591 10.6948 0.0598427 10.392 0.174851C10.0893 0.28986 9.81577 0.458042 9.58778 0.669333C9.13733 1.08356 8.85868 1.65422 8.85868 2.28533C8.85868 2.91644 9.13733 3.48889 9.58778 3.90133L13.8405 8L18.0933 3.90222Z'/></svg>");

}

main.popup{
  @apply md:mb-24 mb-10;
}
/**new-dropdown**/

.dropdown-new {
@apply inline-block relative transition-all duration-300 ease-in;
}

.dropdown-new ul {
  @apply text-center -left-[70px] bg-secondary text-quaternary block absolute w-[250px] overflow-hidden top-[35px];
}

.dropdown-new li {
  @apply h-0 overflow-hidden transition-all duration-500;
}

.dropdown-new.hover:hover li, .dropdown.toggle > input:checked ~ ul li {
  @apply    pt-[10px] pb-[35px] ;
}

.new-underline a {
  @apply px-[25px]  text-quaternary;
}
/***Mega-menu***/

.mega-menu {
  @apply hidden left-0 absolute text-left w-full z-[99];

}
.mega-menu.mega-menu-one{
  @apply md:max-w-[30%] max-w-[40%] left-auto;
}
.mega-menu.mega-menu-two{
  @apply md:max-w-[40%] max-w-[70%] left-[20%] md:left-auto;
}
.hoverable {
  @apply static;
}
.hoverable:hover .mega-menu {
  @apply block;
}
.arow-after.arow-after-event.arow-after-event-place::after{
  @apply top-[29px] right-[45px];
}
.arow-after.arow-after-event.arow-after-event-place:hover:after{
  @apply top-[29px] right-[40px];
}

.zoom{
  @apply overflow-hidden;

}
.zoom img {
  @apply transition-all duration-[350ms] ease-in;

}
.zoom img:hover {
  @apply transform scale-[1.1];

  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.2);
}


.checkbox {
  @apply relative flex items-center gap-4 cursor-pointer select-none mt-[10px];
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

}
.checkbox input {
  @apply absolute w-0 left-[50px] h-0 opacity-0 cursor-pointer;

}
.checkbox input:checked ~.checkmark {
  @apply bg-secondary outline-none;

}
.checkbox .checkmark {
  @apply relative block top-0 left-0 w-[15px] h-[15px] bg-pearl-white transition-all duration-300 ease-in rounded-[2px];

}
.checkbox input:checked~.checkmark::after {
  @apply opacity-[1] transition-all duration-300 ease-in;
}
.checkbox .checkmark::after {
  @apply absolute block left-1/2 top-[40%] h-[8px] w-[4px] opacity-0 transition-all duration-300 ease-in;
  ;
  content: "";
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
}
/*******/
.linear-wipe {
  @apply  text-black bg-clip-text;
  background: linear-gradient(to right, #000 20%, #006E5B 40%, #006E5B 60%, #000 80%);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 2s linear infinite;
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
}

.linear-wipe-two{
  @apply  text-secondary bg-clip-text;
  background: linear-gradient(to right, #006E5B 20%,  40%, #000 60%, #006E5B 80%);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 2s linear infinite;
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
}
.linear-wipe-three{
  @apply  text-secondary bg-clip-text;
  background: linear-gradient(to right, #fff 20%,  40%, #F1C63E 60%, #fff 80%);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 2s linear infinite;
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
}
.tc-container{
  @apply relative;
}
.top-img{
  @apply absolute left-0 top-0 opacity-0 transition-all duration-300 ease-in cursor-pointer;
}
.top-img:hover{
  @apply opacity-[1];

}

/* Styling the reply to comment form */

.reply-form textarea {
@apply w-full max-w-full my-[15px];

}
.d-none {
  @apply hidden;
}



.heartbeat {
  @apply relative z-[1];
  animation: beat 2s linear infinite;
}

.heartecho {
  @apply absolute;
  animation: echo 2s linear infinite;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(0.9);
  }
  21% {
    transform: scale(1.1) skew(0.004turn)
  }
  28% {
    transform: scale(1) skew(0.008turn);
  }
  35% {
    transform: scale(1) skew(0)
  }
}

@keyframes echo {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  14% {
    opacity: 0.4;
    transform: scale(0.8);
  }
  21% {
    opacity: 0.4;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(3);
  }
}
/******/

.cardBox {
  @apply lg:w-[380px] lg:h-[422px] w-[350px] h-[385px] relative grid overflow-hidden place-items-center;
}
.card {
  position: absolute;
  width: 98%;
  height: 98%;
  z-index: 5;
  color: #ffffff;
  overflow: hidden;
  cursor: pointer;
}




.cardBox::before {
  @apply bg-secondary;
  content: "";
  position: absolute;
  width: 40%;
  height: 150%;

background: -webkit-linear-gradient(to right, #006E5B, #F1C63E);
background: linear-gradient(to right, #006E5B, #F1C63E);
  animation: glowing01 5s linear infinite;
  transform-origin: center;
  animation: glowing 6s linear infinite;
}

@keyframes glowing {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*****/


.bg {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.bg {
  @apply bg-quaternary;
  animation: pulse 2s ease infinite;
}





@keyframes pulse {
  0% {
    transform: scale(1, 1);
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

/*****/
#button {
  @apply bg-quaternary inline-block w-[50px] h-[50px] text-center rounded-[4px] fixed bottom-[100px] right-[30px] opacity-0 invisible z-[1000];
  transition: background-color .3s,
    opacity .5s, visibility .5s;
}

#button::after {
  @apply absolute top-0 md:-top-[4px] left-[9px] md:left-0 flex justify-center items-end rotate-[270deg] md:h-[50px] md:w-[50px] w-[40px] h-[40px];
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' fill='green'><path d='M17.5303 6.53033C17.8232 6.23744 17.8232 5.76256 17.5303 5.46967L12.7574 0.696699C12.4645 0.403806 11.9896 0.403806 11.6967 0.696699C11.4038 0.989593 11.4038 1.46447 11.6967 1.75736L15.9393 6L11.6967 10.2426C11.4038 10.5355 11.4038 11.0104 11.6967 11.3033C11.9896 11.5962 12.4645 11.5962 12.7574 11.3033L17.5303 6.53033ZM17 5.25L0 5.25V6.75L17 6.75V5.25Z'/></svg>");;
}
#button:hover {
  @apply cursor-pointer bg-[#333];
}
#button:active {
  @apply bg-[#555];
}
#button.show {
  @apply opacity-[1] visible;
}

/***text**/
.menu{
  @apply inline-block transition-all duration-300;
}

.circle{
  @apply inline-block w-full h-[50px] z-[4];
}

.text{
  @apply inline-block z-[10] w-full text-center cursor-pointer;
}
/***text-animation light up-down****/
#glow {
  animation: neon1 linear infinite 2s;
  will-change: opacity;
}



@keyframes neon1 {
  20% {
    opacity: 1;
  }
  80% {
    opacity: 0.6;
  }
}



/**round animation**/
.outer-circle {
  @apply rounded-[50%] p-[1px];
  background-image: linear-gradient(#006E5B, #fcbdc6, #f2f2f2);
  -webkit-animation: rotateCircle 2s linear infinite;
  animation: rotateCircle 2s linear infinite;
}
.outer-circle .inner-circle {
  @apply bg-white rounded-[50%] border table ;
  animation: rotateCircle 2s linear infinite reverse;
}

@-webkit-keyframes rotateCircle {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateCircle {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/**from-input***/
#form {
  width: 100%;
}

.input-box {
  @apply relative mb-[24px];
}
.input-box .input-label {
  @apply absolute text-[#AAA9A9] text-[16px] 2xl:text-[18px]  2xl:px-[32px] px-5 max-w-full overflow-hidden whitespace-nowrap left-[8px] top-[23px]  2xl:top-[21px] select-none pointer-events-none transition-all duration-300;
}
.input-box .input-label-blog-details{
  @apply 2xl:top-[28px] text-just-black ;
}
.input-box .input-label.input-label-contact{
  @apply text-just-black;
}
.input-box .input-1 {
@apply h-[70px] w-full rounded-[8px] text-black  border border-solid border-[#CDCDCD] py-[18px] 2xl:px-[32px] px-8;
}
.input-box .input-1.input-1-blog-details {
  @apply h-[70px] 2xl:h-[81px];
  }
.input-box .input-1.input-1-textarea {
  @apply h-auto;
}
.input-box .input-1:focus {
  @apply outline-none border border-solid border-secondary;
}
.input-box .input-1.input-1-regis:focus{
  @apply border-pearl-white;
}
.input-box .input-label.input-label-reg{
  @apply text-[#d5fbf466];
}
.input-box .input-1.input-1-regis{
  @apply border-[#d5fbf466];
}
.input-box.focus .input-label,
.input-box.active .input-label {
  @apply text-secondary top-[-12px] bg-pearl-white font-[14px] ;
}

.input-box.active .input-1 {
  @apply border border-solid border-secondary;
}

#sezam-loader .st0{
  fill:#006E5B;
}
#sezam-loader .st1{
  fill:#006E5B;
}
#sezam-loader .st2{
  fill:#F1C63E;
}
#sezam-loader .st0,
#sezam-loader .st1
{
  -webkit-animation: draw 6000ms ease-in-out infinite; /* Safari 4+ */
  -moz-animation:    draw 6000ms ease-in-out infinite; /* Fx 5+ */
  -o-animation:      draw 6000ms ease-in-out infinite; /* Opera 12+ */
  animation:         draw 6000ms ease-in-out infinite;
  stroke: #000;
}
#sezam-loader .st2 {
  -webkit-animation: draw 5000ms ease-in-out infinite; /* Safari 4+ */
  -moz-animation:    draw 5000ms ease-in-out infinite; /* Fx 5+ */
  -o-animation:      draw 5000ms ease-in-out infinite; /* Opera 12+ */
  animation:         draw 5000ms ease-in-out infinite;
  stroke: #006E5B;
}
@-webkit-keyframes draw {
  0% {
    stroke-dasharray: 0 800;
    stroke-dashoffset: 200;
    fill-opacity: 0;
    stroke-width: 2;
  }
  37% {
    stroke-dasharray: 600 0;
    stroke-dashoffset: 200;
    fill-opacity: 0;
    stroke-width: 2;
  }
  50% {
    fill-opacity: 1;
    stroke-width: 0;
  }
  100% {
    fill-opacity: 1;
    stroke-width: 0;
  }
}
@-moz-keyframes draw {
  0% {
    stroke-dasharray: 0 800;
    stroke-dashoffset: 200;
    fill-opacity: 0;
    stroke-width: 1;
  }
  37% {
    stroke-dasharray: 600 0;
    stroke-dashoffset: 200;
    fill-opacity: 0;
    stroke-width: 1;
  }
  50% {
    fill-opacity: 1;
    stroke-width: 0;
  }
  100% {
    fill-opacity: 1;
    stroke-width: 0;
  }
}
@-o-keyframes draw {
  0% {
    stroke-dasharray: 0 800;
    stroke-dashoffset: 200;
    fill-opacity: 0;
    stroke-width: 1;
  }
  37% {
    stroke-dasharray: 600 0;
    stroke-dashoffset: 200;
    fill-opacity: 0;
    stroke-width: 1;
  }
  50% {
    fill-opacity: 1;
    stroke-width: 0;
  }
  100% {
    fill-opacity: 1;
    stroke-width: 0;
  }
}
@keyframes draw {
  0% {
    stroke-dasharray: 0 800;
    stroke-dashoffset: 200;
    fill-opacity: 0;
    stroke-width: 1;
  }
  37% {
    stroke-dasharray: 600 0;
    stroke-dashoffset: 200;
    fill-opacity: 0;
    stroke-width: 1;
  }
  50% {
    fill-opacity: 1;
    stroke-width: 0;
  }
  100% {
    fill-opacity: 1;
    stroke-width: 0;
  }
}
/***round-animation****/


@keyframes morph {
  0%,
  100% {
    d: path(
      "M 300 68.5 C 292.328 68.5 284.695 68.881 277.125 69.633 C 269.556 70.386 262.05 71.509 254.633 72.992 C 247.217 74.475 239.89 76.318 232.678 78.511 C 225.466 80.704 218.368 83.247 211.411 86.128 C 204.455 89.01 197.638 92.231 190.988 95.78 C 184.338 99.329 177.853 103.206 171.56 107.402 C 165.267 111.597 159.166 116.111 153.281 120.932 C 147.397 125.752 141.73 130.88 136.305 136.305 C 127.625 144.985 119.705 154.285 112.588 164.102 C 105.471 173.919 99.157 184.253 93.69 194.998 C 88.222 205.743 83.601 216.9 79.869 228.364 C 76.137 239.829 73.295 251.6 71.386 263.574 C 69.476 275.548 68.5 287.725 68.5 300 C 68.5 304.384 68.625 308.755 68.872 313.109 C 69.119 317.463 69.488 321.8 69.979 326.115 C 70.469 330.43 71.08 334.722 71.809 338.988 C 72.538 343.254 73.386 347.494 74.351 351.701 C 75.316 355.909 76.397 360.085 77.593 364.224 C 78.789 368.364 80.099 372.467 81.522 376.53 C 82.946 380.592 84.482 384.613 86.128 388.589 C 87.775 392.564 89.532 396.493 91.398 400.372 C 93.264 404.251 95.239 408.079 97.321 411.852 C 99.402 415.625 101.591 419.342 103.884 423 C 106.177 426.657 108.575 430.254 111.076 433.786 C 113.576 437.319 116.18 440.786 118.884 444.183 C 121.589 447.581 124.394 450.909 127.298 454.163 C 130.202 457.416 133.205 460.595 136.305 463.695 C 139.198 466.588 142.16 469.397 145.188 472.12 C 148.215 474.843 151.308 477.479 154.461 480.029 C 157.615 482.578 160.83 485.039 164.102 487.412 C 167.375 489.784 170.704 492.067 174.087 494.259 C 177.471 496.452 180.907 498.553 184.394 500.562 C 187.88 502.571 191.416 504.488 194.998 506.31 C 198.58 508.133 202.207 509.861 205.876 511.494 C 209.546 513.127 213.257 514.664 217.006 516.105 C 220.756 517.545 224.543 518.887 228.364 520.131 C 232.186 521.375 236.041 522.52 239.927 523.565 C 243.813 524.61 247.729 525.554 251.672 526.396 C 255.614 527.238 259.583 527.978 263.574 528.614 C 267.566 529.251 271.58 529.784 275.612 530.211 C 279.645 530.639 283.696 530.961 287.762 531.176 C 291.828 531.392 295.908 531.5 300 531.5 C 307.672 531.5 315.305 531.119 322.875 530.366 C 330.444 529.614 337.95 528.491 345.367 527.008 C 352.783 525.525 360.11 523.682 367.322 521.489 C 374.534 519.296 381.632 516.753 388.589 513.872 C 395.545 510.99 402.362 507.769 409.012 504.22 C 415.662 500.671 422.147 496.794 428.44 492.598 C 434.733 488.403 440.834 483.889 446.719 479.068 C 452.603 474.248 458.27 469.12 463.695 463.695 C 469.12 458.27 474.248 452.603 479.068 446.719 C 483.889 440.834 488.403 434.733 492.598 428.44 C 496.794 422.147 500.671 415.662 504.22 409.012 C 507.769 402.362 510.99 395.545 513.872 388.589 C 516.753 381.632 519.296 374.534 521.489 367.322 C 523.682 360.11 525.525 352.783 527.008 345.367 C 528.491 337.95 529.614 330.444 530.366 322.875 C 531.119 315.305 531.5 307.672 531.5 300 C 531.5 292.328 531.119 284.695 530.366 277.125 C 529.614 269.556 528.491 262.05 527.008 254.633 C 525.525 247.217 523.682 239.89 521.489 232.678 C 519.296 225.466 516.753 218.368 513.872 211.411 C 510.99 204.455 507.769 197.638 504.22 190.988 C 500.671 184.338 496.794 177.853 492.598 171.56 C 488.403 165.267 483.889 159.166 479.068 153.281 C 474.248 147.397 469.12 141.73 463.695 136.305 C 456.462 129.072 448.798 122.367 440.763 116.214 C 432.728 110.061 424.322 104.461 415.606 99.438 C 406.89 94.415 397.864 89.97 388.589 86.128 C 379.313 82.286 369.787 79.047 360.073 76.435 C 350.358 73.823 340.455 71.84 330.422 70.509 C 320.39 69.178 310.229 68.5 300 68.5 C 300 68.5 300 68.5 300 68.5"
    );
  }
  50% {
    d: path(
      "M 300.02 68.46 C 291.5 37.82 283.08 41.14 274.8 69.82 C 266.51 57.91 258.36 71.62 250.36 73.82 C 242.36 86.79 234.51 60.02 226.85 80.28 C 219.18 85.08 211.69 100.13 204.41 89.08 C 197.12 90.94 190.04 118.23 183.18 100.08 C 176.3 112.88 169.68 129.34 163.3 113.14 C 156.91 128.97 150.78 114.51 144.91 128.14 C 139.05 120.47 133.46 107.89 128.16 144.89 C 122.84 164.61 117.84 176.72 113.16 163.28 C 108.48 163.01 104.1 186.43 100.1 183.16 C 96.1 196.86 92.41 175.74 89.1 204.39 C 85.8 221.83 82.85 228.76 80.3 226.83 C 72.456 250.426 68.471 275.134 68.5 300 C 68.48 305.74 68.67 311.4 69.07 316.98 C 69.47 322.56 70.067 328.08 70.86 333.54 C 71.65 343.24 72.63 349.18 73.8 349.74 C 74.67 366.89 75.65 360.38 76.73 360.64 C 77.81 358.74 78.99 356.65 80.26 373.25 C 81.54 373.54 82.91 390.39 84.38 384.65 C 85.85 381.84 87.41 400.77 89.06 395.65 C 90.72 394.77 92.46 401.1 94.3 401.77 C 96.13 424.63 98.07 423.41 100.07 416.88 C 102.08 414.95 104.17 430.88 106.35 426.88 C 108.53 428.66 110.79 421.51 113.13 436.74 C 115.47 426.8 117.89 426.47 120.38 432.95 C 122.88 434.65 125.45 441.22 128.1 455.13 C 128.98 458.17 129.87 461.42 130.77 464.53 C 131.67 467.64 132.58 470.6 133.5 473.08 C 135.33 476.5 137.19 486.97 139.08 481.73 C 140.97 478.39 142.9 485.31 144.85 471.88 C 147.79 464.67 150.79 483.96 153.85 481.4 C 156.92 484.15 160.05 469.72 163.24 486.85 C 166.43 475.29 169.69 496.11 173 498.11 C 176.31 500.99 179.69 510.32 183.12 499.91 C 186.57 527.22 190.03 512.35 193.57 513.67 C 197.11 508.24 200.7 489.3 204.35 510.92 C 207.99 523.79 211.68 516.05 215.43 508.99 C 219.17 523.98 222.95 519.49 226.79 519.72 C 230.62 520.48 234.54 518.56 238.42 518.23 C 242.3 517.9 246.3 519.18 250.3 526.18 C 258.3 524.79 266.45 536.18 274.74 530.18 C 283.02 537.09 291.44 543.1 299.96 531.54 C 308.48 540.41 316.9 543.41 325.18 530.18 C 333.47 518.81 341.62 533.18 349.62 526.18 C 357.62 520.86 365.47 556.08 373.13 519.72 C 380.8 526.25 388.29 489.35 395.57 510.92 C 402.86 523.32 409.94 529.97 416.8 499.92 C 423.68 508.49 430.3 465.05 436.68 486.86 C 443.07 491.98 449.2 445.48 455.07 471.86 C 460.93 491.11 466.52 458.49 471.82 455.11 C 477.14 476.57 482.14 438.91 486.82 436.72 C 491.5 442.44 495.88 417.33 499.88 416.84 C 503.88 405.03 507.58 407.28 510.88 395.61 C 514.18 383.94 517.13 395.71 519.68 373.17 C 522.23 356.58 524.39 354.87 526.14 349.66 C 527.909 341.591 529.245 333.432 530.14 325.22 C 531.048 316.844 531.502 308.425 531.5 300 C 531.5 300 531.5 300 531.5 300 C 531.522 291.576 531.088 283.157 530.2 274.78 C 529.28 266.49 527.95 262.02 526.2 250.34 C 524.45 217.14 522.29 242.28 519.74 226.83 C 517.19 209.27 514.24 213.13 510.94 204.39 C 507.64 229.63 503.94 204.16 499.94 183.16 C 495.93 163.62 491.59 161.47 486.88 163.28 C 482.17 165.09 477.17 205.01 471.88 144.89 C 466.58 111.05 460.99 120.14 455.13 128.14 C 449.26 98.59 443.13 85.45 436.74 113.14 C 430.36 97.52 423.72 89.86 416.86 100.08 C 410 72.77 402.92 82.08 395.63 89.08 C 388.35 63.28 380.86 64.28 373.19 80.28 C 365.53 82.4 357.68 77.56 349.68 73.82 C 341.68 90.7 333.53 77.63 325.24 69.82 C 316.96 84.9 308.54 80.21 300.02 68.46"
    );
  }
}
.cell-path {
  animation: morph 4s infinite;
}
