@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply font-poppins;
}
.episode-btn{
  @apply px-[25px] py-[13px] text-[25px] font-normal rounded-[5px];
}
/**start-Season Episode of music-galary**/
/* (B) WRAPPER */
.aWrap {
  display: flex;
  align-items: center;
  width: 250px;
  gap: 1rem;
}

.fa {
  font-size: 30px;
}
/* (C) PLAY/PAUSE BUTTON */
.aPlay {
  padding: 0;
  margin: 0;
  background: 0;
  border: 0;
  cursor: pointer;
}

/* (E) RANGE SLIDERS */
/* (E1) HIDE DEFAULT */
.aWrap input[type="range"] {
  appearance: none;
  border: none;
  outline: none;
  box-shadow: none;
  width: 225px;
  padding: 0;
  margin: 0;
  background: 0;
}

.range {
  position: relative;
  display: flex;
  align-items: center;
}

.range input {
  position: relative;
  z-index: 1;
}

.range .change-range {
  position: absolute;
  left: 0;
  top: 0;
  height: 15px;
  width: 0px;
  background-color: #ffda17;
  border-radius: 10px 0 0 10px;
}

.under-ranger {
  position: absolute;
  left: 0;
  top: 0;
  height: 15px;
  width: 100%;
  background-color: #cecece;
  border-radius: 10px;
}

.aWrap input[type="range"]::-webkit-slider-thumb {
  appearance: none;
}

/* (E2) CUSTOM SLIDER TRACK */
.aWrap input[type="range"]::-webkit-slider-runnable-track {
  background: transparent;
  height: 15px;
  border-radius: 10px;
}

/* (E3) CUSTOM SLIDER BUTTON */

.aWrap input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 4px solid #fff;
  background: #000;
  position: relative;
  cursor: pointer;
  margin-top: -5px;
}

.aWrap input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 4px solid #fff;
  background: #cdc9c9;
  position: relative;
  cursor: pointer;
  margin-top: -5px;
}
/**Testimonial**/
.testimonial--slider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
position: relative;
  margin: 20px auto;
}
.testimonial--slider--navigation {
  position: absolute;
  top: 215px;
  width: 90px;
  height: 35px;
  overflow: hidden;
  z-index: 1;
  right: 0;
}
@media only screen and (min-width: 769px) and (max-width: 1300px) {
  .testimonial--slider--navigation {
    left: 60%;
  }
}
@media only screen and (max-width: 768px) {
  .testimonial--slider--navigation {
    left: 50%;
  }
}
.testimonial--slider--navigation .left,
.testimonial--slider--navigation .right {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  width: 50%;
  height: 100%;
}
.slide-text{
  text-align: left;
}
.testimonial--slider--navigation .left {
  left: 0;
}
.testimonial--slider--navigation .right {
  right: 0;
}
.testimonial--slider--navigation .disabled {
  pointer-events: none;
}
.testimonial--slider--navigation .disabled i {
  color: #ccc;
}
.testimonial--slider--content {
  display: block;
  position: relative;
}
.testimonial--slider--content .slide {
  display: flex;
  justify-content: center;

  text-align: center;
  width: 100%;
  gap:43px;
}
@media only screen and (max-width: 768px) {
  .testimonial--slider--content .slide {
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 768px) {
  .testimonial--slider--content .slide .slide-text {
    margin: 1em 0 0;
  }
}
.testimonial--slider--content .slide .slide-text span {
  display: block;
  font-size: 0.75em;
  display: block;
}

